/* logo fade in animations */
.fade-delay {
    animation: fadeDelay 0.7s ease-in-out;
    animation-fill-mode: forwards;
}
  
@keyframes fadeDelay {
    0% {
        opacity: 0;
        filter: blur(10px);
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        filter: blur(0px);
        transform: translateX(0%);
    }
}
