#line {
  display: inline-block;
  position: relative;
}

#line::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #ffffff; 
  transition: width .3s;
}

#line:hover::after {
  width: 100%;
  transition: width .3s;
}