/* initial fade-in animation */
#fade-in{
    animation: fadeIn 3.5s ease-in;
    animation-fill-mode: forwards;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
  
@keyframes fadeIn {
    0% {
      opacity: 1; 
      background-color: black;
      z-index: 9999;
    }
    100% {
      opacity: 0; 
      background-color: black;
      filter: blur(0px);
      z-index: 9999;
      pointer-events: none;
    }
}

/* hello world, blinking . animation */
#blink {
    animation: blink 1s steps(1, start) infinite;
}
  
@keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

/* custom resize for name */
#name-size {
    display: block;
}

@media (max-width: 640px) {
    #name-size {
        display: flex;
    }
}